@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa-light-webfont.eot');
    src: url('../fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa-light-webfont.woff2') format('woff2'),
         url('../fonts/nexa-light-webfont.woff') format('woff'),
         url('../fonts/nexa-light-webfont.ttf') format('truetype'),
         url('../fonts/nexa-light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
