

@media screen and (max-width: 768px) {

	.welcome nav ul li, .about nav ul li, .portfolio nav ul li, .contact nav ul li {
		margin-left: 3%;
		font-size: 3vw;
	}

	.scroll {
		  visibility: hidden;
	}

	.mobi-scroll {
		visibility: visible;
		position: absolute;
		z-index: 1;
		bottom: 10px;
		width: 70px;
		height: 70px;
		border: 3px solid white;
		border-radius: 50%;
	}

	.img-scroll {
		height: auto;
		z-index: 1;
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}


	.about .mobi-scroll {
		border: 3px solid #bebebe;
	}


	.welcome section .h1 {
		  font-size: 7vw;
		}
	.about {
		height: auto;
		padding-bottom: 15vh;
	}
	
	.about section {
		margin: 5% 0 5% 0;
		height: auto;
		  width: 83.33%;
		  flex-direction: column;
		}

	.about section img {
		  width: 83.33%;
		  margin-right: 0;
		}

	.about section span {
		  width: 83.33%;
		}

	.about section h2 {
		  font-size: 7vw;
		}
	.about section span p:nth-child(2){
		  font-size: 5vw;
		  line-height: 7vw;
		}
	.about section span p:last-child {
		  font-size: 4vw;
		}

	.portfolio {
		height: auto;
	}

	.portfolio section {
		  width: 90%;
		  height: auto;
		  margin-bottom: 15vh;
		}

	.portfolio section .h2 {
		  margin-top: 5%;
		  margin-bottom: 5%;
		  font-size: 7vw;
		}

	.portfolio section span {
		justify-content: space-around;
	}

	.portfolio section span a {
	  width:45%;
	  margin-left: 0;
	}

	.contact {
		height: auto;
	}

	.contact section {
	  	margin: 10% 0 10% 0;
		height: auto;
	}

	.contact .mobi-scroll {
		position: relative;
		margin-top: 10%;
		margin-bottom: -7vh;
		border: 3px solid #bebebe;
		
	}

	 .contact .img-scroll {
	 	opacity: 0.3;
	 	width: 35px;
		visibility: visible;
		position: absolute;
	}


	.social img{
		width: 100%;
	}

	.footer {
		font-size: 14px;
	}

}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.welcome section .h1 {
	  font-size: 5vw;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.portfolio section span a {
	  width:30%;
	  margin-left: 0;
	}
	.portfolio {
		height: auto;
	}
	.portfolio section span {
		justify-content: space-around;
	}
	.portfolio section {
		  height: auto;
		  margin-bottom: 15vh;
		}

	 .about, .about section {
		height: auto;
	}

	.about section {
		margin-bottom: 15vh;
	}

	.about section img {
		width: 70%;
		margin: 0;
	}

	.about section span {
		width: 70%;
	}

	.about section h2 {
	  font-size: 6vw;
	}
	.about section span  p:nth-child(2) {
	  font-size: 3vw;
	  line-height: 4vw;
	}
	.about section span p:last-child {
	  font-size: 3.5vw;
	}

	.welcome nav ul li, .about nav ul li, .portfolio nav ul li, .contact nav ul li {
	  font-size: 3vw;
	}
	.welcome section .h1 {
		font-size: 4vw;
	}

	.contact, .contact section {
		height: auto;
	}

	.contact section {
		padding: 10% 0 15% 0;
	}


	.scroll p {
		font-size: 1.5vw;
	}

	.scroll img {
		width: 2vw;
	}

	.footer p {
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 380px) {
	.contact .mobi-scroll {
		margin-bottom: -5vh;
	}
}