@charset "UTF-8";


*, html, body, .wrapper {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
  width: 100%;
}

body {
  width: 100%;
  min-width: 300px;
  font-family: 'nexa_lightregular';
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button {
  border: 0;
  background: inherit;
}

button:hover {
  cursor: pointer;
}

.l, .r {
  width: 5vw;
  height: 1vw;
  background: white;
}

.mobi-scroll, .img-scroll {
  visibility: hidden;
  height: 0;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.welcome, .about, .portfolio, .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  background: url('../img/Background.png') no-repeat top center;
  background-size: cover;

}

.welcome nav, .about nav, .portfolio nav, .contact nav {
  display: flex;
  width: 90%;
  height: 10vh;
  align-items: center;
  border-bottom: 0.3vh solid white;
}

.welcome nav ul, .about nav ul, .portfolio nav ul, .contact nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.welcome nav ul li, .about nav ul li, .portfolio nav ul li, .contact nav ul li {
  list-style-type: none;
  margin-left: 2%;
  font-size: 1.25vw;


}
.welcome nav ul li a, .portfolio nav ul li a{
  color: white;
}

.welcome section {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  justify-content: center;
}

.welcome section div:first-child img {
  width: 70%;
}

.welcome section .h1 {
  margin-top: 5%;
  font-size: 3.125vw;
  font-weight: normal;
}

.welcome section div:first-child {
  text-align: center;
}

.scroll {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 10vh;
}

.scroll p{
  text-transform: uppercase;
  color: white;
  font-size: 0.9375vw;
}

.scroll img{
  width: 1.5vw;
}
.scroll button {
  position: absolute;
  bottom: 5%;left: 50%;
  transform: translateX(-50%);
}

.scroll img:hover {
  opacity: 0.5;
}

.about {
  position: relative;
  background: none;
}
.about nav ul li a, .contact nav ul li a{
  color: #bebebe;
}
.about nav, .contact nav {
  border-bottom: 0.3vh solid #bebebe;
}

.about section {
  position: relative;
  width: 83.33%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: black;
}

.about section img {
  width: 40.15625%;
  margin-right: 5%;
}

.about section span {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about section h2 {
  margin-top: 11%;
  margin-bottom: 10%;
  text-transform: uppercase;
  font-size: 3.125vw;
  font-weight: bold;
}
.about section span  p:nth-child(2) {
  font-size: 1.25vw;
  line-height: 2vw;
}
.about section span p:last-child {
  margin-top: 9%;
  font-size: 1.875vw;
  font-weight: bold;
}

.about .scroll p, .portfolio  .scroll p {
  color: #bebebe;
}

.portfolio {
  background: url('../img/BackgroundCenter.png') no-repeat top center;
  background-size: cover;
  position: relative;
}

.portfolio section {
  width: 90%;
  height: 80vh;
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
}

.portfolio .h2 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: white;
  text-transform: uppercase;
  font-size: 3.125vw;
}

.portfolio section span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.portfolio section span a {
  width:16%;
  margin-left: 3%;
  margin-bottom: 3%;
  transition: all .5s linear;
}

.portfolio section span a:first-child, .portfolio section span a:nth-child(6) {
  margin-left: 0;
}

.portfolio section span a:hover {
  transform: scale(1.2); 
  }

.portfolio section span a img {
  width:100%;
}

.contact {
  background: white;
}

.contact section {
   position: relative;
  width: 100%;
  height: 80vh;
  text-transform: uppercase;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact section p:first-child {
  font-size: 1.5625vw;
  margin-bottom: 1%;
  font-weight: bold;
}
.contact section p:nth-child(2) {
  font-size: 3.125vw;
  margin-bottom: 2%;
}
.contact section p:nth-child(2) a {
  color: black;
  text-decoration: none;
}
.contact section p:nth-child(3) {
  font-size: 1.5625vw;
  margin-bottom: 0.5%;
  font-weight: bold;
}

.contact section p:nth-child(4) {
  font-size: 2.5vw;
  margin-top: 1%;
}
.contact section p:nth-child(4) a {
  color: black;
  text-decoration: none;
}

.contact section p:nth-child(5) {
  font-size: 1.5625vh;
  margin-top: 1%;
  font-weight: bold;
}

.contact .scroll {
  position: absolute;
  text-align: center;
  bottom: 0;
}

.contact .scroll button {
  position: absolute;
  bottom: 80%;
}

.contact .scroll p {
  position: absolute;
  color: black;
  text-transform: none;
  bottom: 0%; left: 50%;
  transform: translateX(-50%);
}

.social img {
  width: 3vw;
}

.social img:hover, .contact section p:nth-child(2) a:hover, .contact section p:nth-child(4) a:hover {
  opacity: 0.5;
}

.social a {
  margin-left: 5%;
}

.social a:first-child {
  margin-left: -5%;
}

.social{
  display: inline-flex;
  margin-top: 1%;
}

.footer {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  text-transform: uppercase;
  color: #bebebe;
  border-top: 2px solid #bebebe;
}

